<h1 align="center"> Amelia's Money summary in Money record index</h1>

  <!-- <% @moneyrecords.each do |record| %>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="well well-lg">
          <div class="record-title"><%= link_to record.desc, moneyrecord_path(record) %></div>
          <div class="record-value"><%= record.date %></div>
          <div class="record-value"><%= record.credit %></div>
          <div class="record-value"><%= record.amount %></div>
          <div class="record-value"><%= record.total %></div>

          <div class="record-actions" align="center">
            <%= link_to "Edit this Record", edit_moneyrecord_path(record), class: "btn btn-xs btn-primary" %>
            <%= link_to "Delete this Record", moneyrecord_path(record), method: :delete, data: { confirm: "Are you sure you want to delete comment out record?"}, class: "btn btn-xs btn-danger" %>

          </div>
        </div>
      </div>
    </div>

  <% end %> -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <!-- <th scope="col">Credit</th> -->
      <th scope="col">Amount</th>
      <th scope="col">Total</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
    <% @moneyrecords.each do |record| %>
      <tr>
        <th scope="row"><%= record.date %></th>
        <!-- <td><%= @isCredit %></td> -->
        <td><%= record.amount %></td>
        <td><%= record.total %></td>
        <td><%= link_to "Edit", edit_moneyrecord_path(record), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete", moneyrecord_path(record), method: :delete, data: { confirm: "Are you sure you want to delete this record?"}, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to "All Record", moneyrecords_path, class: "btn btn-md btn-success" %>
