<h2 align="center">Descsription: <%= @moneyrecord.desc %></h2>
<div class="well col-xs-8 col-xs-offset-2">
    <h4><strong>Date:</strong></h4>
    <strong class="value"><%= @moneyrecord.date %></strong>

    <h4><strong>Credit:</strong></h4>
    <strong class="value"><%= @moneyrecord.credit %></strong>
    <h4><strong>Amount:</strong></h4>
    <strong class="value"><%= @moneyrecord.amount %></strong>
    <h4><strong>Total:</strong></h4>
    <strong class="value"><%= @moneyrecord.total %></strong>
    <div class="record-actions" align="center">
      <%= link_to "Edit this Record", edit_moneyrecord_path(@moneyrecord), class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete this Record", moneyrecord_path(@moneyrecord), method: :delete, data: { confirm: "Are you sure you want to delete the record?"}, class: "btn btn-xs btn-danger" %>
      <%= link_to "All Record", moneyrecords_path, class: "btn btn-xs btn-success" %>

    </div>
</div>
